* {
    margin: 0;
}

html {
    height: 100%
}

body {
    background-color: #fdc435;
    height: 100%;
    color: #fff;
}

#logo {
    font-family: "Cherry Bomb One", cursive;
    color: red;
    text-shadow: 1px 4px 4px #3f3f3f;
}

#description-text {
    max-width: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

#start-btn {
    color: white;
    background-color: orange;
    border-style: none;
}

#timer-text {
    color: black;
}

#quote-display {
    color: white;
}

#break-quote {
    color: white;
    max-width: 500px;
}

.break {
    color: white;
}

.container {
    display: flex;
    justify-content: flex-end;
       
}

.card {
    flex-direction: column;
    background-color: red;
    border-radius: 5%; 
    font-weight: bold;
    /* max-width: 100px; */
}

h3 {
    font-weight: bold;
}